[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M

[ndb_mgmd]
NodeId=1
hostname=management
datadir=/var/lib/mysql

[ndbd]
NodeId=2
hostname=ndb1
datadir=/var/lib/mysql

[ndbd]
NodeId=3
hostname=ndb2
datadir=/var/lib/mysql

[mysqld]
NodeId=4
hostname=mysql
